extends base.pug
block content
 form
  .entry
    .entry-text
      | Email
    input#resetEmail(type='email' name='email' required='')
  #resetEmailBtn.btn-parent
    a.btn.btn-full.form-button(href='#') Send Reset Link
block scripts
 script(src="../js/forgetpassword.js")